.log-in-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .log-in-log-in {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .log-in-login {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(250, 250, 250, 1);
  }
  .log-in-frame306 {
    gap: 40px;
    top: 47px;
    left: 417px;
    width: 580px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .log-in-frame304 {
    gap: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .log-in-text {
    color: rgba(51, 51, 51, 1);
    height: auto;
    font-size: 32px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-frame291 {
    gap: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .log-in-socialmediasignuplogin {
    width: 580px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(51, 51, 51, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
  }
  .log-in-frame7 {
    gap: 16px;
    top: 19px;
    left: 181px;
    width: 219px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .log-in-socialmedialogo {
    width: 24px;
    height: 24px;
  }
  .log-in-text02 {
    color: rgba(51, 51, 51, 1);
    height: auto;
    font-size: 18px;
    font-style: Roman;
    text-align: left;
    font-family: Avenir;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-divider {
    gap: 23px;
    width: 580px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .log-in-divider1 {
    width: auto;
    height: 2px;
    flex-grow: 1;
  }
  .log-in-text04 {
    color: rgba(17, 17, 17, 1);
    height: auto;
    font-size: 20px;
    font-style: Roman;
    text-align: left;
    font-family: Avenir;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-divider2 {
    width: auto;
    height: 2px;
    flex-grow: 1;
  }
  .log-in-frame303 {
    gap: 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .log-in-email {
    gap: 4px;
    width: 580px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .log-in-frame243 {
    width: 580px;
    height: 27px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
  }
  .log-in-text06 {
    color: rgba(102, 102, 102, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-textfield {
    width: 580px;
    height: 56px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(102, 102, 102, 0.3499999940395355);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
  }
  .log-in-frame302 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .log-in-frame286 {
    gap: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .log-in-textfield1 {
    gap: 4px;
    width: 580px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .log-in-frame2431 {
    width: 580px;
    height: 27px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
  }
  .log-in-text08 {
    color: rgba(102, 102, 102, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-passwordhidesee {
    top: 0px;
    left: 498.136962890625px;
    width: 73px;
    height: 27px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .log-in-icon {
    top: 3px;
    left: 0px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .log-in-group1 {
    top: 4.0114288330078125px;
    left: 2.9142837524414062px;
    width: 18.187135696411133px;
    height: 15.995744705200195px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .log-in-vector {
    top: 0px;
    left: 0px;
    width: 17px;
    height: 16px;
    position: absolute;
  }
  .log-in-vector1 {
    top: 4.741950988769531px;
    left: 6.8882293701171875px;
    width: 11px;
    height: 9px;
    position: absolute;
  }
  .log-in-text10 {
    left: 32px;
    color: rgba(102, 102, 102, 0.800000011920929);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-textfield2 {
    width: 580px;
    height: 56px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(102, 102, 102, 0.3499999940395355);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
  }
  .log-in-text12 {
    color: rgba(17, 17, 17, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
  }
  .log-in-checkbox {
    gap: 8px;
    display: flex;
    padding: 8px 8px 8px 0;
    align-items: flex-start;
  }
  .log-in-checkbox1 {
    width: 24px;
    height: 24px;
  }
  .log-in-text14 {
    color: rgba(51, 51, 51, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-button {
    width: 580px;
    height: 64px;
    display: flex;
    opacity: 0.25;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 32px;
    background-color: rgba(17, 17, 17, 1);
  }
  .log-in-frame276 {
    gap: 8px;
    top: 15px;
    left: 257.5px;
    width: 65px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .log-in-text16 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 22px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-divider3 {
    width: 580px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .log-in-divider4 {
    width: auto;
    height: 2px;
    flex-grow: 1;
  }
  .log-in-divider5 {
    width: auto;
    height: 2px;
    flex-grow: 1;
  }
  .log-in-frame305 {
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .log-in-text18 {
    color: rgba(51, 51, 51, 1);
    height: auto;
    font-size: 24px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .log-in-button1 {
    width: 580px;
    height: 64px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(17, 17, 17, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 32px;
  }
  .log-in-frame2761 {
    gap: 8px;
    top: 15px;
    left: 248.5px;
    width: 83px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .log-in-text20 {
    color: rgba(17, 17, 17, 1);
    height: auto;
    font-size: 22px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  