.create-account {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.create-account .overlap-wrapper {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.create-account .overlap {
  height: 1024px;
  position: relative;
}

.create-account .image {
  background-color: #eeeeee;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.create-account .overlap-group {
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
}

.create-account .header {
  background-color: #ffffff;
  height: 104px;
  position: relative;
  width: 1440px;
}

.create-account .rectangle {
  background-color: #66666640;
  height: 2px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 1440px;
}

.create-account .logo {
  background-color: #c4c4c4;
  border-radius: 28px;
  height: 56px;
  left: 692px;
  position: absolute;
  top: 24px;
  width: 56px;
}

.create-account .create-an-account {
  background-color: #ffffff;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.create-account .content {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  left: 363px;
  position: relative;
  top: 93px;
}

.create-account .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  position: relative;
}

.create-account .text-wrapper-7 {
  color: #333333;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.create-account .design-component-instance-node {
  flex: 0 0 auto !important;
}

.create-account .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.create-account .text-field {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 715px;
}

.create-account .frame-3 {
  align-self: stretch;
  height: 27px;
  position: relative;
  width: 100%;
}

.create-account .label {
  color: #666666;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.create-account .text-field-2 {
  align-self: stretch;
  border: 1px solid;
  border-color: #66666659;
  border-radius: 12px;
  height: 56px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.create-account .inputs {
  align-items: center;
  display: inline-flex;
  left: 24px;
  position: relative;
  top: 15px;
}

.create-account .element {
  background: transparent;
  border: none;
  color: #66666699;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  padding: 0;
  position: relative;
  width: fit-content;
}

.create-account .input {
  background: transparent;
  border: none;
  color: #666666;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: -1px;
}

.create-account .password-hide-see {
  height: 27px;
  left: 633px;
  position: absolute;
  top: 0;
  width: 75px;
}

.create-account .icon {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 3px !important;
  width: 24px !important;
}

.create-account .text-wrapper-8 {
  color: #666666cc;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
}

.create-account .element-2 {
  color: #66666699;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.create-account .error-message {
  color: #666666;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.create-account .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.create-account .button-instance {
  background-color: #6f4e37 !important;
  border-radius: 40px !important;
  opacity: 0.25 !important;
  position: relative !important;
  width: 715px !important;
}

.create-account .button-2 {
  left: 254px !important;
}
