.user-groups-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ca7e5e;
  }
  
  .user-groups-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .group-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .group-button, .create-group-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #a5694f;
    border-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .group-button:hover, .create-group-button:hover {
    background-color: #82513c;
  }
  
  .create-group-button {
    margin-top: 20px;
    background-color: #6F4E37;
  }
  
  .create-group-button:hover {
    background-color: #000;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #37271b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #bbb;
  }
  