.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden; /* Prevents any child elements from overflowing */
}

.form-container1 {
  display: flex; /* Set display to flex to use flexbox properties */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align children horizontally in the center */
  justify-content: center; /* Center children vertically in the container */
  width: 350px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 /* Allows scrolling if content exceeds container size */
}


.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.subtitle {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #666;
}

.account-form {
  display: flex;
  flex-direction: column;
}

.centered-input {
  margin-bottom: 10px;
}

.centered-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  padding: 10px;
  background-color: #4a54e1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3a44c1;
}

.createAccountLink {
  margin-top: 10px;
  text-align: center;
}

.createAccountLink a {
  color: #4a54e1;
}

.createAccountLink a:hover {
  color: #3a44c1;
}
