/* Overall form styling */
.time-block-form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: Tahoma;

  }

  .time-block-entry {
    margin-bottom: 10px;
    padding: 30px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }

  .input-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .input-field, .select-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 2px;
  }


  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #000;
    margin-right: 10px;
    font-family: Tahoma;
  }

  .button:hover {
    background-color: #000;
  }

  .add-block-button {
    background-color: #795C34;
    transition: background-color 0.3s ease;
    display: center;
  }

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

  .add-profile-button {
    background-color: #65350F;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 5px;

  }

  .submit-button {
    width: 100%;
      padding: 15px;
      background-color: #6F4E37;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

